body {
  background-color: #aaffaa;
  line-height: 120%;
  font-family: helvetica, sans-serif;
}
h1 {
  text-align: center;
}
a {
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}
p, dd {
  text-indent: 1em;
}
dt {
  font-weight: bold;
}
code, pre {
  color: navy;
  white-space: pre;
  text-indent: 0;
}

div.id {
  font-style: italic;
  font-size: small;
}
.news {
  /*border: medium solid red;*/
  font-size: small;
  margin-left: 40px;
  margin-right: 40px;
}
