body {
  background-color: #aaffaa;
  line-height: 120%;
  font-family: verdana, arial, helvetica, sans-serif;
}
h1 {
  text-align: center;
}
a {
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}
p, dd {
  text-indent: 1em;
}
dt {
  font-weight: bold;
}
code, pre {
  color: navy;
}

div.id {
  font-style: italic;
  font-size: small;
}
