#Options +ExecCGI

# if you run p-album2 with symbolic link, use settings below.
#Options +FollowSymLinks

AddHandler cgi-script .rb
DirectoryIndex index.cgi

<Files "*.rhtml*">
	deny from all
</Files>

<Files "p-album.*">
	deny from all
</Files>

<Files update.rb>
AuthType Basic
AuthName "private area"
AuthUserFile /home/masao/public_html/private/.htpasswd
require user masao
</Files>

## Redirect from old style:
# 2003-01-02T08:44:23.html вк ./20030102t084423.html
RedirectMatch permanent ^(.*)/([0-9][0-9][0-9][0-9])-([0-9][0-9])-([0-9][0-9])T([0-9][0-9]):([0-9][0-9]):([0-9][0-9])\.html$ $1/$2$3$4t$5$6$7.html
RedirectMatch permanent ^(.*)/([0-9][0-9][0-9][0-9])-([0-9][0-9])\.html$ $1/$2$3.html

## html_anchor:
RewriteEngine on
RewriteBase /~masao/photo/
RewriteRule ^([0-9]{8}t[0-9]{6})\.html$ ./?photo=$1
RewriteRule ^([0-9]{6})\.html$ ./?date=$1
