body {
    margin: 1%;
    font-family: verdana, sans-serif;
}
.last-update {
    float: right;
    font-size: smaller;
    margin: 0 1em;
}
.lang-switch {
    float: right;
    font-size: smaller;
    margin: 0 1em;
}
