# Disable for (Sakura) ; 500 internal server error, when specified.
#Options +FollowSymlinks
DirectoryIndex index.shtml index.html
<FilesMatch "\.ttf$">
order deny,allow
deny from all
</FilesMatch>

RedirectPermanent /etc/junii-validator/ https://junii2-validator.herokuapp.com/
